* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  font-family: "Roboto", "Segoe UI", serif;
}

body {
  background: #0f1624;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-left: 40px;
  width: 1024px;
}

.header {
  height: 137px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo-img {
  width: 153px;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  opacity: 0.8;
}

.menu {
  display: flex;
  gap: 98px;
}

.menu a {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.social-media {
  display: flex;
  gap: 16px;
}

.social-media--img {
  height: 25px;
}

.hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content {
  margin-top: 157px;
}

.hero-content h1 {
  color: #fff;
}

.hero-content p {
  color: #bcbcbc;
  font-size: 20px;
  max-width: 700px;
  margin-left: 40px;
  margin-top: 34px;
}

.button {
  border-radius: 100px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  padding: 10px 40px;
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.hero-button:hover {
  background: linear-gradient(
    rgba(19, 173, 199, 0.8),
    rgba(105, 120, 209, 0.8),
    rgba(148, 93, 214, 0.8)
  );
}

.button.changed {
  margin-top: 40px;
  margin-left: 70px;
  padding: 15px 40px;
}

.drawing {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.projects {
  margin-top: 150px;
  color: #fff;
}

.projects h2 {
  font-size: 2em;
}

.projects-card {
  background: #0f1624;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 40px 0px 40px 0px;
  align-items: center;
  box-shadow: 0px 0px 20px #fff;
}

.project-card-group {
  gap: 80px 150px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-card-img {
  width: 380px;
  border-radius: 6px;
}

.projects-card h3 {
  margin-top: 20px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.projects-card hr {
  margin-top: 20px;
  border: none;
  margin-top: 20px;
  height: 2px;
  width: 300px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
}

.project-card-text-button-group {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-card-text-button-group p {
  font-size: 20px;
}

.project-card-text-button-group a {
  margin-top: 20px;
}

.technologies {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.technologies h2 {
  color: #fff;
  font-size: 2em;
}

.technologies h3 {
  color: #fff;
}

.technologies p {
  color: #fff;
}

.technologies-progress-bar {
  margin-top: 40px;
}

.technologies-progress-bar-text {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.technologies-progress-bar-line {
  z-index: -1;
  position: relative;
  margin-top: 10px;
  background: rgba(22, 41, 80, 1);
  width: 100%;
  height: 20px;
  border-radius: 10px;
}

.progress-bar-front {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  z-index: 0;
  position: absolute;
  top: 0px;

  height: 20px;
  border-radius: 10px;
}

.progress-width-front-70 {
  width: 70%;
}
.progress-width-front-50 {
  width: 50%;
}
.progress-width-front-30 {
  width: 30%;
}

.additional-skills {
  margin-top: 80px;
}

.additional-skills h2 {
  font-size: 1.8em;
}

.additional-skills ul,
li {
  color: #fff;
}
.additional-skills-list {
  margin-left: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.additional-skills-list ul {
  box-sizing: content-box;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px;
  list-style: none;
}

.additional-skills-list li::before {
  font-size: 20px;
  content: "•";
  float: inline-start;
  padding-right: 10px;
}

.about-me {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.about-me-text {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-me-text p {
  font-size: 1.5em;
}

.about-me-line {
  position: relative;
  z-index: -1;
  background: #fff;
  margin: 50px 0px;
  width: 76%;
  height: 10px;
  border-radius: 10px;
  margin: 10px auto 0px auto;
}

.about-me-line-dots-group {
  top: -5px;
  z-index: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-me-line-dot {
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.about-me-info {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  text-align: center;

  margin-top: 15px;
}

.about-me-info p {
  width: 15%;
}

.footer {
  align-items: center;
  margin-top: 150px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-numb {
  display: flex;
  flex-direction: column;
}

.footer-email {
  display: flex;
  flex-direction: column;
}
.footer-social {
  display: flex;
  flex-direction: row;
}

.footer p {
  font-size: 20px;
  width: 60%;
}

.footer-social {
  gap: 15px;
}
